body {
    font-family: 'Arial', sans-serif;
    background-color: wheat ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: #f4a523;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    width: 350px;
}

.container h1 {
    font-weight: bold;
    color: white;
}

.container p {
    color: #fff;
    margin-bottom: 30px;
}
input {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    outline: none;
}
button {
    padding: 10px 30px;
    background: #963f00;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #7c3200;
}

